model_config_list: {
    config: {
        name: "model1",
        base_path: "/models/model1",
        model_platform: "tensorflow",
        model_version_policy: {
           all: {}
    },
    config: {
        name: "model2",
        base_path: "/models/model2",
        model_platform: "tensorflow",
        model_version_policy: {
           latest: {
               num_versions: 1
           }
        }
    },
    config: {
        name: "model3",
        base_path: "/models/model3",
        model_platform: "tensorflow",
        model_version_policy: {
           specific: {
               versions: 1
           }
        }
    }
}